@import url('/home/eli/.cache/wal/colors-waybar.css');

@define-color mauve  @color9;
@define-color red  @color9; @define-color lavender  @color7;
@define-color text  @color7;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'Noto Sans Medium';
    font-size: 18px;
}

window {
    all:unset;
    padding: 20px;
    background-color: #000000;
}
/*#inner-box {*/
/*    margin: 2px;*/
/*    padding: 5px*/
/*    border: none;*/
/*}*/
/*#outer-box {    */
/*    border: none;*/
/*}*/
/*#scroll {*/
/*    margin: 0px;*/
/*    padding: 30px;*/
/*    border: none;*/
/*}*/
#input {
    all:unset;
    padding: 8px 0px;
}
/*#input image {*/
/*    border: none;*/
/*    color: @red;*/
/*    padding-right:10px;*/
/*}*/
/*#input * {*/
/*    border: none;*/
/*    outline: none;*/
/*}*/
/**/
/*#input:focus {*/
/*    outline: none;*/
/*    border: none;*/
/*    border: 2px solid white;*/
/*    border-radius:10;*/
/*}*/
/*#text {*/
/*    margin: 5px;*/
/*    border: none;*/
/*    color: @text;*/
/*    outline: none;*/
/*}*/
/*#text {*/
/*    margin: 5px;*/
/*    border: none;*/
/*    color: @text;*/
/*    outline: none;*/
/*}*/
#entry {
    margin: 0px 0px;
    padding: 5px;
}
#entry arrow {
    border: none;
    color: @lavender;
}
#entry:selected {
    background-color: #ffffff;
    color: #000000;
}
#entry:selected #text {
    color: #000000;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
